<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutas Más Usadas</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Rutas Más Usadas</h1>
    
    <label for="numResults">Número de resultados:</label>
    <input type="number" id="numResults" name="numResults" min="1" max="100" value="10">
    <button onclick="updateChart()">Actualizar</button>
    
    <canvas id="routesChart" width="400" height="200"></canvas>
    
    <script>
        let chart;

        function updateChart() {
            const numResults = document.getElementById('numResults').value;
            axios.get('/api/routes')
                .then(response => {
                    const data = response.data;
                    const topData = data.slice(0, numResults);
                    const labels = topData.map(item => item.route_long_name);
                    const counts = topData.map(item => item.route_count);

                    const ctx = document.getElementById('routesChart').getContext('2d');
                    if (chart) {
                        chart.destroy();
                    }
                    chart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: '# de veces usado',
                                data: counts,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }

        document.addEventListener('DOMContentLoaded', function () {
            updateChart();
        });
    </script>
</body>
</html>
