<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutas y Agencias Más Usadas</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
</head>
<body>
    <h1>Selecciona el gráfico a mostrar</h1>
    
    <label for="chartType">Seleccionar gráfico:</label>
    <select id="chartType">
        <option value="routes">Rutas Más Usadas</option>
        <option value="agencies">Agencias con Más Rutas</option>
        <option value="colors">Colores de las Rutas</option>
    </select>
    
    <label for="numResults">Número de resultados:</label>
    <input type="number" id="numResults" name="numResults" min="1" max="100" value="10">
    
    <button onclick="updateChart()">Actualizar</button>
    <button onclick="generatePDF()">Generar PDF</button>
    
    <canvas id="mainChart" width="600" height="500"></canvas>
    
    <script>
        let chart;

        function updateChart() {
            const chartType = document.getElementById('chartType').value;
            const numResults = document.getElementById('numResults').value;
            let apiUrl = '';

            if (chartType === 'routes') {
                apiUrl = '/api/routes';
            } else if (chartType === 'agencies') {
                apiUrl = '/api/agencies';
            } else if (chartType === 'colors') {
                apiUrl = '/api/colors';
            }

            axios.get(apiUrl)
                .then(response => {
                    const data = response.data;
                    const topData = data.slice(0, numResults);
                    let labels, counts, label;

                    if (chartType === 'routes') {
                        labels = topData.map(item => item.route_long_name);
                        counts = topData.map(item => item.route_count);
                        label = '# de veces usado';
                    } else if (chartType === 'agencies') {
                        labels = topData.map(item => item.agency_name);
                        counts = topData.map(item => item.agency_count);
                        label = '# de rutas';
                    } else if (chartType === 'colors') {
                        labels = topData.map(item => item.route_color);
                        counts = topData.map(item => item.color_count);
                        label = '# de rutas con color';
                    }

                    const ctx = document.getElementById('mainChart').getContext('2d');
                    if (chart) {
                        chart.destroy();
                    }
                    chart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: label,
                                data: counts,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }

        function generatePDF() {
            html2canvas(document.getElementById('mainChart'), {
                scale: 2, // Aumenta la escala para mejorar la calidad de la imagen
                useCORS: true, // Habilita CORS para capturar imágenes externas
                onrendered: function(canvas) {
                    const imgData = canvas.toDataURL('image/png');
                    const pdf = new jsPDF('landscape', 'mm', 'a4'); // Configura el tamaño y orientación del PDF
                    const imgWidth = 290; // Ajusta el ancho de la imagen en el PDF
                    const imgHeight = (canvas.height * imgWidth) / canvas.width; // Calcula la altura de la imagen manteniendo la proporción

                    pdf.addImage(imgData, 'PNG', 10, 10, imgWidth, imgHeight);
                    pdf.save('chart.pdf');
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            updateChart();
        });
    </script>
</body>
</html>
